.borderBeam {
  position: absolute;
  inset: 0;
  pointer-events: none;
  border: calc(var(--border-width)) solid transparent;
  border-radius: inherit;

  mask-clip: padding-box, border-box !important;
  mask-composite: intersect !important;
  mask: linear-gradient(transparent, transparent), linear-gradient(white, white);

  &::after {
    content: "";
    position: absolute;
    aspect-ratio: 1 / 1;
    width: calc(var(--size));
    background: linear-gradient(
      to left,
      var(--color-from),
      var(--color-to),
      transparent
    );
    offset-anchor: calc(var(--anchor)) 50%;
    offset-path: rect(0 auto auto 0 round calc(var(--size)));
    animation: border-beam calc(var(--duration)) infinite linear;
    animation-delay: var(--delay);
  }
}

@keyframes border-beam {
  100% {
    offset-distance: 100%;
  }
}
